button {
    margin: 5px;
    font-size: 20px;
    background-color: grey;
    border: 1px black solid;
    border-radius: 8px;
}

button:active {
    transform: translate(3px, 5px);
}

#background {
    margin: 100px auto;
    width: 320px;
    background-color: #333544;
    border: 1px black solid;
    border-radius: 16px;
    text-align: center;
    text-justify: center;
    font-size: 12px;
    color: grey;
}

#header {
    font-family: "Orbitron", sans-serif;
}

#display {
    border: 1px black solid;
    border-radius: 8px;
    text-align: center;
    height: 100px;
    width: 280px;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 25x;
    background-color: grey;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#operation {
    position: absolute;
    margin-top: 10px;
    right: 20px;
}

#result {
    font-style: italic;
    position: absolute;
    top: 25px;
    right: 20px;
}

#buttons {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto;
    height: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

#operators {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

#rest {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr
}
#clear {
    color: red;
}

#return {
    color: red;
}

#equal {
    color: green;
}

.operator {
    color: blue;
}
